Repository ApptiveGrid/ApptiveGrid-flutter, pull requests merged in 2022-06, with the labels that each got.

#24 Ac 1870 deprecate apptive grid uri
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/example/lib/main.dart
  packages/apptive_grid_core/lib/model/apptive_grid_uri.dart
  packages/apptive_grid_core/lib/model/data_entity.dart
  packages/apptive_grid_core/lib/model/entity/entity_uri.dart
  packages/apptive_grid_core/lib/model/form/form_uri.dart
  packages/apptive_grid_core/lib/model/grid/grid.dart
  packages/apptive_grid_core/lib/model/grid/grid_view.dart
  packages/apptive_grid_core/lib/model/space/space.dart
  packages/apptive_grid_core/lib/network/apptive_grid_client.dart
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_core/test/api_client_test.dart
  packages/apptive_grid_core/test/apptive_grid_uri_test.dart
  packages/apptive_grid_core/test/cross_reference_test.dart
  packages/apptive_grid_core/test/direct_form_uri_test.dart
  packages/apptive_grid_core/test/entity_uri_test.dart
  packages/apptive_grid_core/test/form_data_test.dart
  packages/apptive_grid_core/test/form_uri_test.dart
  packages/apptive_grid_core/test/grid_uri_test.dart
  packages/apptive_grid_core/test/grid_view_uri_test.dart
  packages/apptive_grid_core/test/multi_cross_reference_test.dart
  packages/apptive_grid_core/test/redirect_form_uri_test.dart
  packages/apptive_grid_core/test/space_uri_test.dart
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/README.md
  packages/apptive_grid_form/example/lib/main.dart
  packages/apptive_grid_form/lib/apptive_grid_form.dart
  packages/apptive_grid_form/lib/widgets/form_widget/cross_reference/cross_reference_dropdown_button_form_field.dart
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
  packages/apptive_grid_form/test/component_mapper_test.dart
  packages/apptive_grid_form/test/component_test.dart
  packages/apptive_grid_form/test/cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/multi_cross_reference_form_widget_test.dart
  packages/apptive_grid_grid_builder/CHANGELOG.md
  packages/apptive_grid_grid_builder/README.md
  packages/apptive_grid_grid_builder/example/lib/contact_list.dart
  packages/apptive_grid_grid_builder/example/lib/main.dart
  packages/apptive_grid_grid_builder/lib/apptive_grid_grid_builder.dart
  packages/apptive_grid_grid_builder/pubspec.yaml
  packages/apptive_grid_grid_builder/test/apptive_grid_grid_builder_test.dart
Labels: p:core, p:form, p:grid_builder

#28 Ac 1856 upgrade to dart 2 17
  analysis_options.yaml
  packages/apptive_grid_core/example/android/app/src/main/AndroidManifest.xml
  packages/apptive_grid_core/example/android/build.gradle
  packages/apptive_grid_core/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/apptive_grid_core/lib/model/form/form_uri.dart
  packages/apptive_grid_core/lib/model/grid/grid_view.dart
  packages/apptive_grid_core/lib/network/filter/apptive_grid_filter.dart
  packages/apptive_grid_form/example/android/app/src/main/AndroidManifest.xml
  packages/apptive_grid_form/example/android/build.gradle
  packages/apptive_grid_form/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/apptive_grid_grid_builder/example/android/app/src/main/AndroidManifest.xml
  packages/apptive_grid_grid_builder/example/android/build.gradle
  packages/apptive_grid_grid_builder/example/android/gradle/wrapper/gradle-wrapper.properties
  packages/apptive_grid_user_management/example/android/build.gradle
  packages/apptive_grid_user_management/example/android/gradle/wrapper/gradle-wrapper.properties
Labels: p:core, p:form, p:grid_builder, p:user_management

#29 Ac 1471 new filters
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/model/data_entity.dart
  packages/apptive_grid_core/lib/network/filter/apptive_grid_filter.dart
  packages/apptive_grid_core/lib/network/filter/field_filter.dart
  packages/apptive_grid_core/lib/network/filter/filter_expressions.dart
  packages/apptive_grid_core/test/filter_test.dart
  packages/apptive_grid_form/lib/google_maps_webservice/geocoding.dart
  packages/apptive_grid_form/lib/google_maps_webservice/places.dart
Labels: p:core, p:form

#30 Ac 1154 fix theme goldens
  packages/apptive_grid_theme/.gitignore
  packages/apptive_grid_theme/CHANGELOG.md
  packages/apptive_grid_theme/lib/apptive_grid_theme.dart
  packages/apptive_grid_theme/pubspec.yaml
  packages/apptive_grid_theme/test/apptive_grid_theme_test.dart
  packages/apptive_grid_theme/test/flutter_test_config.dart
  packages/apptive_grid_theme/test/font_util.dart
  packages/apptive_grid_theme/test/goldenFiles/AlertDialog_dark.png
  packages/apptive_grid_theme/test/goldenFiles/AlertDialog_light.png
  packages/apptive_grid_theme/test/goldenFiles/AppBar_dark.png
  packages/apptive_grid_theme/test/goldenFiles/AppBar_light.png
  packages/apptive_grid_theme/test/goldenFiles/Card_dark.png
  packages/apptive_grid_theme/test/goldenFiles/Card_light.png
  packages/apptive_grid_theme/test/goldenFiles/Chips_dark.png
  packages/apptive_grid_theme/test/goldenFiles/Chips_light.png
  packages/apptive_grid_theme/test/goldenFiles/ElevatedButton_disabled_dark.png
  packages/apptive_grid_theme/test/goldenFiles/ElevatedButton_disabled_light.png
  packages/apptive_grid_theme/test/goldenFiles/ElevatedButton_enabled_dark.png
  packages/apptive_grid_theme/test/goldenFiles/ElevatedButton_enabled_light.png
  packages/apptive_grid_theme/test/goldenFiles/IconButton_dark.png
  packages/apptive_grid_theme/test/goldenFiles/IconButton_light.png
  packages/apptive_grid_theme/test/goldenFiles/OutlinedButton_disabled_dark.png
  packages/apptive_grid_theme/test/goldenFiles/OutlinedButton_disabled_light.png
  packages/apptive_grid_theme/test/goldenFiles/OutlinedButton_enabled_dark.png
  packages/apptive_grid_theme/test/goldenFiles/OutlinedButton_enabled_light.png
  packages/apptive_grid_theme/test/goldenFiles/TextButton_disabled_dark.png
  packages/apptive_grid_theme/test/goldenFiles/TextButton_disabled_light.png
  packages/apptive_grid_theme/test/goldenFiles/TextButton_enabled_dark.png
  packages/apptive_grid_theme/test/goldenFiles/TextButton_enabled_light.png
  packages/apptive_grid_theme/test/goldenFiles/TextField_empty_dark.png
  packages/apptive_grid_theme/test/goldenFiles/TextField_empty_light.png
  packages/apptive_grid_theme/test/goldenFiles/TextField_error_dark.png
  packages/apptive_grid_theme/test/goldenFiles/TextField_error_light.png
  packages/apptive_grid_theme/test/goldenFiles/TextField_filled_dark.png
  packages/apptive_grid_theme/test/goldenFiles/TextField_filled_light.png
  packages/apptive_grid_theme/test/goldenFiles/Text_dark.png
  packages/apptive_grid_theme/test/goldenFiles/Text_light.png
  packages/apptive_grid_theme/test/goldens/ci/alert_dialog.png
  packages/apptive_grid_theme/test/goldens/ci/app_bar.png
  packages/apptive_grid_theme/test/goldens/ci/bottom_navigation_bar.png
  packages/apptive_grid_theme/test/goldens/ci/buttons.png
  packages/apptive_grid_theme/test/goldens/ci/card.png
  packages/apptive_grid_theme/test/goldens/ci/checkbox.png
  packages/apptive_grid_theme/test/goldens/ci/chips.png
  packages/apptive_grid_theme/test/goldens/ci/divider.png
  packages/apptive_grid_theme/test/goldens/ci/list_tile.png
  packages/apptive_grid_theme/test/goldens/ci/progress_indicator.png
  packages/apptive_grid_theme/test/goldens/ci/radio.png
  packages/apptive_grid_theme/test/goldens/ci/slider.png
  packages/apptive_grid_theme/test/goldens/ci/switch.png
  packages/apptive_grid_theme/test/goldens/ci/tab_bar.png
  packages/apptive_grid_theme/test/goldens/ci/text.png
  packages/apptive_grid_theme/test/goldens/ci/text_field.png
Labels: p:theme

#31 Prepare non alpha releases
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_grid_builder/CHANGELOG.md
  packages/apptive_grid_grid_builder/pubspec.yaml
  packages/apptive_grid_user_management/CHANGELOG.md
  packages/apptive_grid_user_management/pubspec.yaml
  packages/apptive_grid_web_apptive/CHANGELOG.md
  packages/apptive_grid_web_apptive/pubspec.yaml
Labels: p:core, p:form, p:grid_builder, p:user_management, p:web_apptive

#33 Ac 1596 user management response handling
  packages/apptive_grid_user_management/CHANGELOG.md
  packages/apptive_grid_user_management/example/ios/Podfile.lock
  packages/apptive_grid_user_management/example/ios/Runner/Info.plist
  packages/apptive_grid_user_management/example/lib/main.dart
  packages/apptive_grid_user_management/lib/src/apptive_grid_user_management_content.dart
  packages/apptive_grid_user_management/lib/src/login_content.dart
  packages/apptive_grid_user_management/lib/src/register_content.dart
  packages/apptive_grid_user_management/lib/src/translation/apptive_grid_user_management_translation.dart
  packages/apptive_grid_user_management/lib/src/translation/l10n/intl_de.json
  packages/apptive_grid_user_management/lib/src/translation/l10n/intl_en.json
  packages/apptive_grid_user_management/lib/src/translation/l10n/translation_de.dart
  packages/apptive_grid_user_management/lib/src/translation/l10n/translation_en.dart
  packages/apptive_grid_user_management/pubspec.yaml
  packages/apptive_grid_user_management/test/src/login_content_test.dart
  packages/apptive_grid_user_management/test/src/register_content_test.dart
  packages/apptive_grid_user_management/test/src/translation/localization_test.dart
  packages/apptive_grid_user_management/tool/update_translations.sh
Labels: p:user_management

#34 Ac 1920 core package
  README.md
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/apptive_grid_model.dart
  packages/apptive_grid_core/lib/model/data_entity.dart
  packages/apptive_grid_core/lib/model/data_type.dart
  packages/apptive_grid_core/lib/model/form/component/attachment_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/boolean_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/cross_reference_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/date_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/date_time_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/decimal_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/enum_collection_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/enum_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/form_component.dart
  packages/apptive_grid_core/lib/model/form/component/geolocation_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/integer_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/multi_cross_reference_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/options.dart
  packages/apptive_grid_core/lib/model/form/component/string_form_component.dart
  packages/apptive_grid_core/lib/model/form/component/user_reference_form_component.dart
  packages/apptive_grid_core/lib/model/form/form_data.dart
  packages/apptive_grid_core/lib/model/grid/grid_entry.dart
  packages/apptive_grid_core/lib/model/grid/grid_row.dart
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_core/test/api_client_test.dart
  packages/apptive_grid_core/test/attachment_test.dart
  packages/apptive_grid_core/test/component_equality_test.dart
  packages/apptive_grid_core/test/component_parser_test.dart
  packages/apptive_grid_core/test/component_serializer_test.dart
  packages/apptive_grid_core/test/cross_reference_test.dart
  packages/apptive_grid_core/test/decimal_test.dart
  packages/apptive_grid_core/test/enum_collection_test.dart
  packages/apptive_grid_core/test/form_action_test.dart
  packages/apptive_grid_core/test/form_data_test.dart
  packages/apptive_grid_core/test/form_options_test.dart
  packages/apptive_grid_core/test/geolocation_test.dart
  packages/apptive_grid_core/test/grid_entry_test.dart
  packages/apptive_grid_core/test/multi_cross_reference_test.dart
  packages/apptive_grid_core/test/user_reference_test.dart
Labels: p:core

#35 Ac 1920 forms package
  packages/apptive_grid_core/lib/model/form/component/form_component.dart
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/widgets/form_widget/attachment_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/check_box_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/cross_reference_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/date_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/date_time_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/decimal_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/enum_collection_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/enum_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/form_widget_helpers.dart
  packages/apptive_grid_form/lib/widgets/form_widget/geolocation_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/integer_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/multi_cross_reference_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/text_form_widget.dart
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
  packages/apptive_grid_form/test/attachment_form_widget_test.dart
  packages/apptive_grid_form/test/boolean_form_widget_test.dart
  packages/apptive_grid_form/test/component_mapper_test.dart
  packages/apptive_grid_form/test/component_test.dart
  packages/apptive_grid_form/test/cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/date_form_widget_test.dart
  packages/apptive_grid_form/test/date_time_form_widget_test.dart
  packages/apptive_grid_form/test/decimal_form_widget_test.dart
  packages/apptive_grid_form/test/enum_collection_form_widget_test.dart
  packages/apptive_grid_form/test/form_options_test.dart
  packages/apptive_grid_form/test/geolocation_form_widget_test.dart
  packages/apptive_grid_form/test/integer_form_widget_test.dart
  packages/apptive_grid_form/test/multi_cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/single_select_form_widget_test.dart
  packages/apptive_grid_form/test/text_form_widget_test.dart
  packages/apptive_grid_form/test/text_option_test.dart
Labels: p:core, p:form

#37 Added copy link
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/model/link/apptive_link_type.dart
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_user_management/README.md
Labels: p:core, p:user_management

#36 AC-1920 Finalizations
  .github/workflows/main.yml
  packages/apptive_grid_core/lib/model/form/component/form_component.dart
  packages/apptive_grid_core/lib/model/form/component/options.dart
  packages/apptive_grid_core/lib/model/grid/grid_field.dart
  packages/apptive_grid_core/test/authenticator_test.dart
  packages/apptive_grid_core/test/form_component_test.dart
  packages/apptive_grid_form/lib/widgets/form_widget/cross_reference_form_widget.dart
Labels: p:core, p:form

#39 Ac 1905 rename user reference to created by
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/apptive_grid_model.dart
  packages/apptive_grid_core/lib/model/created_by/created_by.dart
  packages/apptive_grid_core/lib/model/data_entity.dart
  packages/apptive_grid_core/lib/model/data_type.dart
  packages/apptive_grid_core/lib/network/filter/filter_expressions.dart
  packages/apptive_grid_core/test/user_reference_test.dart
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/apptive_grid_form.dart
  packages/apptive_grid_form/lib/widgets/apptive_grid_form_widgets.dart
  packages/apptive_grid_form/lib/widgets/form_widget/created_by_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/form_widget.dart
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
  packages/apptive_grid_form/test/component_mapper_test.dart
  packages/apptive_grid_grid_builder/CHANGELOG.md
  packages/apptive_grid_grid_builder/pubspec.yaml
Labels: p:core, p:form, p:grid_builder

#40 Ac 1905 adding DataType.user
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/apptive_grid_model.dart
  packages/apptive_grid_core/lib/model/data_entity.dart
  packages/apptive_grid_core/lib/model/data_type.dart
  packages/apptive_grid_core/lib/model/link/apptive_link_type.dart
  packages/apptive_grid_core/lib/model/user/data_user.dart
  packages/apptive_grid_core/test/assignee_test.dart
  packages/apptive_grid_core/test/created_by_test.dart
  packages/apptive_grid_form/lib/widgets/form_widget/form_widget.dart
Labels: p:core, p:form

#41 Ac 1905 user form widget
  packages/apptive_grid_core/lib/model/grid/grid_field.dart
  packages/apptive_grid_core/test/api_client_test.dart
  packages/apptive_grid_core/test/attachment_test.dart
  packages/apptive_grid_core/test/created_by_test.dart
  packages/apptive_grid_core/test/cross_reference_test.dart
  packages/apptive_grid_core/test/decimal_test.dart
  packages/apptive_grid_core/test/enum_collection_test.dart
  packages/apptive_grid_core/test/form_component_test.dart
  packages/apptive_grid_core/test/form_data_test.dart
  packages/apptive_grid_core/test/geolocation_test.dart
  packages/apptive_grid_core/test/grid_field_test.dart
  packages/apptive_grid_core/test/grid_test.dart
  packages/apptive_grid_core/test/multi_cross_reference_test.dart
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/translation/apptive_grid_translation.dart
  packages/apptive_grid_form/lib/translation/l10n/intl_de.json
  packages/apptive_grid_form/lib/translation/l10n/intl_en.json
  packages/apptive_grid_form/lib/translation/l10n/translation_de.dart
  packages/apptive_grid_form/lib/translation/l10n/translation_en.dart
  packages/apptive_grid_form/lib/widgets/apptive_grid_form_widgets.dart
  packages/apptive_grid_form/lib/widgets/form_widget/form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/user/user_dropdown_button_form_field.dart
  packages/apptive_grid_form/lib/widgets/form_widget/user_form_widget.dart
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_form/test/component_mapper_test.dart
  packages/apptive_grid_form/test/cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/geocoding/geolocation_form_widget_configuration_test.dart
  packages/apptive_grid_form/test/geolocation_form_widget_test.dart
  packages/apptive_grid_form/test/user_form_widget_test.dart
  packages/apptive_grid_form/tool/update_translations.sh
Labels: p:core, p:form

#43 Ac 1891 use query for cross reference
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/widgets/apptive_grid_form_widgets.dart
  packages/apptive_grid_form/lib/widgets/form_widget/cross_reference/cross_reference_dropdown_button_form_field.dart
  packages/apptive_grid_form/lib/widgets/form_widget/cross_reference_form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/multi_cross_reference_form_widget.dart
  packages/apptive_grid_form/lib/widgets/grid/grid_row.dart
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_form/test/cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/multi_cross_reference_form_widget_test.dart
Labels: p:form

#44 Ac 1969 freezing form
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/network/apptive_grid_client.dart
  packages/apptive_grid_core/lib/network/attachment_processor.dart
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_core/test/attachment_processor_test.dart
  packages/apptive_grid_core/test/authenticator_test.dart
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/apptive_grid_form.dart
  packages/apptive_grid_form/pubspec.yaml
Labels: p:core, p:form

#45 Fix created by type parsing
  .github/workflows/main.yml
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/model/data_entity.dart
  packages/apptive_grid_core/lib/model/data_type.dart
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_core/test/grid_field_test.dart
  packages/apptive_grid_form/lib/widgets/form_widget/form_widget.dart
Labels: p:core, p:form

#47 Ac 1982 uri type
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/model/data_entity.dart
  packages/apptive_grid_core/lib/model/data_type.dart
  packages/apptive_grid_core/test/uri_test.dart
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/apptive_grid_form.dart
  packages/apptive_grid_form/lib/widgets/apptive_grid_form_widgets.dart
  packages/apptive_grid_form/lib/widgets/form_widget/form_widget.dart
  packages/apptive_grid_form/lib/widgets/form_widget/uri_form_widget.dart
  packages/apptive_grid_form/test/uri_form_widget_test.dart
Labels: p:core, p:form

#48 Add submitFormWithProgress call to client
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/model/attachment/attachment.dart
  packages/apptive_grid_core/lib/model/form/form_data.dart
  packages/apptive_grid_core/lib/model/form/submit_form_progress.dart
  packages/apptive_grid_core/lib/network/apptive_grid_client.dart
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_core/test/api_client_submit_with_progress_test.dart
  packages/apptive_grid_core/test/submit_form_progress_test.dart
Labels: p:core
