Repository ApptiveGrid/ApptiveGrid-flutter, pull requests merged in 2023-03, with the labels that each got.

#86 Ac 2910 custom form component
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/src/apptive_grid_form.dart
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
Labels: p:form

#87 Ac 2924 persist form result screen
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/src/apptive_grid_form.dart
  packages/apptive_grid_form/pubspec.yaml
Labels: p:form

#88 Return send offline forms
  .github/workflows/main.yml
  melos.yaml
  packages/apptive_grid_core/CHANGELOG.md
  packages/apptive_grid_core/lib/src/apptive_grid.dart
  packages/apptive_grid_core/lib/src/cache/apptive_grid_cache.dart
  packages/apptive_grid_core/lib/src/network/apptive_grid_client.dart
  packages/apptive_grid_core/pubspec.yaml
  packages/apptive_grid_core/test/active_grid_core_test.dart
  packages/apptive_grid_core/test/api_client_test.dart
  packages/apptive_grid_form/CHANGELOG.md
  packages/apptive_grid_form/lib/src/apptive_grid_form.dart
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
  packages/apptive_grid_form/test/attachment_form_widget_test.dart
  packages/apptive_grid_form/test/boolean_form_widget_test.dart
  packages/apptive_grid_form/test/common.dart
  packages/apptive_grid_form/test/component_test.dart
  packages/apptive_grid_form/test/cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/currency_form_widget_test.dart
  packages/apptive_grid_form/test/date_form_widget_test.dart
  packages/apptive_grid_form/test/date_time_form_widget_test.dart
  packages/apptive_grid_form/test/decimal_form_widget_test.dart
  packages/apptive_grid_form/test/email_form_widget_test.dart
  packages/apptive_grid_form/test/enum_collection_form_widget_test.dart
  packages/apptive_grid_form/test/enum_form_widget_test.dart
  packages/apptive_grid_form/test/geolocation_form_widget_test.dart
  packages/apptive_grid_form/test/integer_form_widget_test.dart
  packages/apptive_grid_form/test/multi_cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/phone_number_form_widget_test.dart
  packages/apptive_grid_form/test/signature_form_widget_test.dart
  packages/apptive_grid_form/test/text_form_widget_test.dart
  packages/apptive_grid_form/test/uri_form_widget_test.dart
  packages/apptive_grid_form/test/user_form_widget_test.dart
  packages/apptive_grid_grid_builder/CHANGELOG.md
  packages/apptive_grid_grid_builder/pubspec.yaml
  packages/apptive_grid_grid_builder/test/apptive_grid_grid_builder_test.dart
  packages/apptive_grid_user_management/CHANGELOG.md
  packages/apptive_grid_user_management/pubspec.yaml
  packages/apptive_grid_user_management/test/src/apptive_grid_user_management_test.dart
  packages/apptive_grid_web_apptive/CHANGELOG.md
  packages/apptive_grid_web_apptive/pubspec.yaml
Labels: p:core, p:form, p:grid_builder, p:user_management, p:web_apptive

#93 feat: Add support for paged calls for entities
  packages/apptive_grid_core/lib/src/model/entity/entities_response.dart
  packages/apptive_grid_core/lib/src/network/apptive_grid_client.dart
  packages/apptive_grid_core/test/api_client_test.dart
  packages/apptive_grid_core/test/entity_response_test.dart
  packages/apptive_grid_core/test/page_meta_data_test.dart
Labels: p:core

#94 feat: Add support for custom additional answer button label through web app
  packages/apptive_grid_core/example/ios/Podfile.lock
  packages/apptive_grid_core/example/ios/Runner.xcodeproj/project.pbxproj
  packages/apptive_grid_core/example/ios/Runner/Info.plist
  packages/apptive_grid_core/lib/src/apptive_grid_model.dart
  packages/apptive_grid_core/lib/src/model/form/after_submit_action.dart
  packages/apptive_grid_core/lib/src/model/form/form_data.dart
  packages/apptive_grid_core/lib/src/model/form/form_data_properties.dart
  packages/apptive_grid_core/test/form_data_test.dart
  packages/apptive_grid_form/example/ios/Podfile.lock
  packages/apptive_grid_form/example/ios/Runner.xcodeproj/project.pbxproj
  packages/apptive_grid_form/example/ios/Runner/Info.plist
  packages/apptive_grid_form/lib/src/apptive_grid_form.dart
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
  packages/apptive_grid_grid_builder/example/ios/Flutter/AppFrameworkInfo.plist
  packages/apptive_grid_grid_builder/example/ios/Podfile
  packages/apptive_grid_grid_builder/example/ios/Podfile.lock
  packages/apptive_grid_grid_builder/example/ios/Runner.xcodeproj/project.pbxproj
  packages/apptive_grid_grid_builder/example/ios/Runner/Info.plist
  packages/apptive_grid_user_management/example/ios/Flutter/AppFrameworkInfo.plist
  packages/apptive_grid_user_management/example/ios/Podfile
  packages/apptive_grid_user_management/example/ios/Podfile.lock
  packages/apptive_grid_user_management/example/ios/Runner.xcodeproj/project.pbxproj
  packages/apptive_grid_user_management/example/ios/Runner/Info.plist
Labels: p:core, p:form, p:grid_builder, p:user_management

#100 fix: Adjust input parsing for the currency form field
  packages/apptive_grid_form/lib/src/widgets/form_widget/currency_form_widget.dart
  packages/apptive_grid_form/test/currency_form_widget_test.dart
  pubspec.lock
Labels: p:form

#101 feat: Add Model for Invitation
  packages/apptive_grid_core/lib/src/apptive_grid_model.dart
  packages/apptive_grid_core/lib/src/model/space/invitation.dart
  packages/apptive_grid_core/test/invitation_test.dart
Labels: p:core
