Repository ApptiveGrid/ApptiveGrid-flutter, pull requests merged in 2023-10, with the labels that each got.

#118 feat: Add defaultValue, hidden and disabled property to form fields
  packages/apptive_grid_core/lib/src/apptive_grid_model.dart
  packages/apptive_grid_core/lib/src/model/form/component/form_component.dart
  packages/apptive_grid_core/lib/src/model/form/form_data.dart
  packages/apptive_grid_core/lib/src/model/form/form_data_properties.dart
  packages/apptive_grid_core/lib/src/model/form/form_field_properties.dart
  packages/apptive_grid_core/test/attachment_test.dart
  packages/apptive_grid_core/test/cross_reference_test.dart
  packages/apptive_grid_core/test/currency_test.dart
  packages/apptive_grid_core/test/decimal_test.dart
  packages/apptive_grid_core/test/form_component_test.dart
  packages/apptive_grid_core/test/form_data_test.dart
  packages/apptive_grid_core/test/formula_test.dart
  packages/apptive_grid_core/test/geolocation_test.dart
  packages/apptive_grid_core/test/multi_cross_reference_test.dart
  packages/apptive_grid_core/test/submit_form_progress_test.dart
  packages/apptive_grid_core/test/uri_test.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/attachment_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/check_box_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/cross_reference/cross_reference_dropdown_button_form_field.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/currency_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/date_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/date_time_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/decimal_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/email_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/enum_collection_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/enum_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/form_content_widgets.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/geolocation_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/integer_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/phone_number_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/signature_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/text_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/uri_form_widget.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/user/user_dropdown_button_form_field.dart
  packages/apptive_grid_form/lib/src/widgets/geolocation/geolocation_input.dart
  packages/apptive_grid_form/lib/src/widgets/geolocation/geolocation_map.dart
  packages/apptive_grid_form/pubspec.yaml
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
  packages/apptive_grid_form/test/attachment_form_widget_test.dart
  packages/apptive_grid_form/test/boolean_form_widget_test.dart
  packages/apptive_grid_form/test/cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/currency_form_widget_test.dart
  packages/apptive_grid_form/test/date_form_widget_test.dart
  packages/apptive_grid_form/test/date_time_form_widget_test.dart
  packages/apptive_grid_form/test/decimal_form_widget_test.dart
  packages/apptive_grid_form/test/email_form_widget_test.dart
  packages/apptive_grid_form/test/enum_collection_form_widget_test.dart
  packages/apptive_grid_form/test/enum_form_widget_test.dart
  packages/apptive_grid_form/test/geolocation_form_widget_test.dart
  packages/apptive_grid_form/test/integer_form_widget_test.dart
  packages/apptive_grid_form/test/managers/locationn_manager_test.dart
  packages/apptive_grid_form/test/multi_cross_reference_form_widget_test.dart
  packages/apptive_grid_form/test/phone_number_form_widget_test.dart
  packages/apptive_grid_form/test/signature_form_widget_test.dart
  packages/apptive_grid_form/test/text_form_widget_test.dart
  packages/apptive_grid_form/test/uri_form_widget_test.dart
  packages/apptive_grid_form/test/user_form_widget_test.dart
Labels: p:core, p:form

#119 feat: Add support for paged forms
  packages/apptive_grid_form/lib/src/apptive_grid_form.dart
  packages/apptive_grid_form/lib/src/translation/apptive_grid_translation.dart
  packages/apptive_grid_form/lib/src/translation/l10n/intl_de.json
  packages/apptive_grid_form/lib/src/translation/l10n/intl_en.json
  packages/apptive_grid_form/lib/src/translation/l10n/translation_de.dart
  packages/apptive_grid_form/lib/src/translation/l10n/translation_en.dart
  packages/apptive_grid_form/lib/src/widgets/form_widget/form_content_widgets.dart
  packages/apptive_grid_form/test/apptive_grid_form_test.dart
Labels: p:form

#121 fix: Formula type parsing for complex types
  packages/apptive_grid_core/lib/src/model/data_entity.dart
  packages/apptive_grid_core/lib/src/model/grid/grid_field.dart
  packages/apptive_grid_core/test/formula_test.dart
  packages/apptive_grid_form/test/component_mapper_test.dart
Labels: p:core, p:form

#122 fix: Use easeInOut curve for page transition
  packages/apptive_grid_form/lib/src/widgets/form_widget/form_content_widgets.dart
Labels: p:form

#125 refactor: Adjust upper SDK Constraint to <4.0.0
  packages/apptive_grid_theme/pubspec.yaml
Labels: p:theme

#128 chore: Fix Changelog Link Format
  packages/apptive_grid_grid_builder/CHANGELOG.md
  packages/apptive_grid_user_management/CHANGELOG.md
Labels: p:grid_builder, p:user_management

#127 fix: Close Submit StreamController
  packages/apptive_grid_core/lib/src/network/apptive_grid_client.dart
Labels: p:core

#126 chore: Ignore core.g.dart copied from out of date google_maps_webservice for full pub points
  packages/apptive_grid_form/lib/src/google_maps_webservice/core.g.dart
Labels: p:form
